<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login y Registro</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>
<body>
    <div class="container" style="margin-top: 30px; background-color: grey; padding: 10px; border: solid 2px black;" >
        <div class="row">
            <div class="col-6">
                <h2>Regístrate</h2>

                {% with messages = get_flashed_messages(category_filter=['registro']) %}
                    {% if messages %}
                        <div class="alert alert-danger">
                            {% for message in messages %}
                                <p>{{message}}</p>
                            {% endfor %}
                        </div>
                    {% endif %}

                {% endwith %}

                <form action="/registrate" method="post"> 
                    <div class="form-group">
                        <label for="first_name">Nombre</label>
                        <input type="text" id="first_name" name="first_name" class="form-control">
                    </div>
                    <div class="form-group">
                        <label for="last_name">Apellido</label>
                        <input type="text" id="last_name" name="last_name" class="form-control">
                    </div>
                    <div class="form-group">
                        <label for="email">E-mail</label>
                        <input type="text" id="email" name="email" class="form-control">
                    </div>
                    <br>
                    <div class="form-group">
                        <fieldset>
                            <legend>Genero<abbr title="Este campo es obligatorio" aria-label="required"></abbr></legend>
                            <label for="r1" class="form-check-label">M</label>
                            <input type="radio" required name="driver" id="r1" value="yes"  class="form-check-input ">
                            <label for="r2" class="form-check-label">F</label>
                            <input type="radio" required name="driver" id="r2" value="no" class="form-check-input">
                             <label for="r3" class="form-check-label">N/A</label>
                            <input type="radio" required name="driver" id="r3" value="yes" class="form-check-input">
                          </fieldset>   
                    </div>
                    <br>
                    <div class="form-group">
                        <label for="password">Password</label>
                        <input type="password" id="password" name="password" class="form-control">
                    </div>
                    <div class="form-group">
                        <label for="confirm_password">Confirma Password</label>
                        <input type="password" id="confirmar_password" name="confirmar_password" class="form-control">
                    </div>
                    <br>
                    <input type="submit" value="Registrarme" class="btn btn-primary">
                </form>
            </div>
            <div class="col-6">
                <h2>Inicia Sesión</h2>

                {% with messages = get_flashed_messages(category_filter=['login']) %}
                    {% if messages %}
                        <div class="alert alert-danger">
                            {% for message in messages %}
                                <p>{{message}}</p>
                            {% endfor %}
                        </div>
                    {% endif %}

                {% endwith %}

                <form action="/login" method="post">
                    <div class="form-group">
                        <label for="email2">E-mail</label>
                        <input type="text" id="email2" name="email" class="form-control">
                    </div>
                    <div class="form-group">
                        <label for="password2">Password</label>
                        <input type="password" id="password2" name="password" class="form-control ">
                    </div>
                    <br>
                    <input type="submit" value="iniciar sesion" class="btn btn-success">
                </form>
            </div>
        </div>
    </div>
</body>
</html>


